/* App.css */
.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

.container {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 500px;
}

.form {
  margin-bottom: 20px;
}

.container_input {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  background-color: #39B97B;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.icons {
  margin-left: 10px;
  cursor: pointer;
}

.separador {
  height: 1px;
  background-color: #ddd;
  margin: 20px 0;
}

.tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.action-task {
  display: flex;
  align-items: center;
}

.check-task {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  cursor: pointer;
}

.tasks-container {
  max-height: 300px; /* Ajuste conforme necessário */
  overflow-y: auto;
}
